In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to load
schools_data_to_load = r"C:\Users\films\Resources\School_District_Analysis\schools_complete.csv"
students_data_to_load = r"C:\Users\films\Resources\School_District_Analysis\students_complete.csv"

In [3]:
df = pd.read_csv

In [4]:
# Read school data and student data and store into a pandas data frame
school_data_df = pd.read_csv(schools_data_to_load)
student_data_df = pd.read_csv(students_data_to_load)

#Cleaning Student Names and Replacing Substrings in a Pythong String

# Add each prefix and suffix to remove to a list
prefixes_suffixes = ["Dr.", "Mr.", "Ms.", "Mrs.", "Miss", "MD", "DDS", "DVM", "PHD"]

# Iterate through the words in the "prefixes_suffixes" List and replace them with an empty space,
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"grade")
    
# Check names.
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,grade Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

## Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [5]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [6]:
import pandas as pd

In [7]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th"),
                    ("reading_scores")] = float("NaN")

In [8]:
# Step 3. Refactor the code in Step 2 to replace the math scores with NaN
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th"),
                                    ("reading_scores")]= float("NaN")

In [9]:
#  Step 4. Check the student data for NaN's. 
print (student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th")])

       Student ID      student_name gender grade         school_name  \
37537       37537       Erik Snyder      M   9th  Thomas High School
37538       37538    Tanya Martinez      F   9th  Thomas High School
37539       37539     Noah Erickson      M   9th  Thomas High School
37540       37540      Austin Meyer      M   9th  Thomas High School
37543       37543   Madison Hampton      F   9th  Thomas High School
...           ...               ...    ...   ...                 ...
39152       39152        Lori Moore      F   9th  Thomas High School
39153       39153   William Hubbard      M   9th  Thomas High School
39157       39157  Kristen Gonzalez      F   9th  Thomas High School
39164       39164    Joseph Anthony      M   9th  Thomas High School
39167       39167    Rebecca Tanner      F   9th  Thomas High School

       reading_score  math_score  reading_scores
37537             80          90             NaN
37538             71          69             NaN
37539             86          76             NaN
37540             73          96             NaN
37543             82          73             NaN
...              ...         ...             ...
39152             98          84             NaN
39153             80          75             NaN
39157             79          94             NaN
39164             97          76             NaN
39167             73          84             NaN

[461 rows x 8 columns]

In [11]:
student_data_df.to_csv("schools_complete_output.csv", index=False)